body {
  margin: 0;
  padding: 0;
}

#render-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #0b0b0e;
  overflow: hidden;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

#render-div {
  white-space: nowrap;
  color: #f0f0f0;
  font-size: 12px;
  letter-spacing: 8px;
  user-select: none;
}

#settings-panel {
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#settings-panel h2 {
  margin: 4px 0 16px 0;
  text-align: center;
}
#settings-panel h3 {
  margin: 20px 0 10px 0;
  font-size: 18px;
}
#settings-panel label {
  font-size: 18px;
}
.shape > div * {
  cursor: pointer;
}
#settings-panel input[type="range"] {
  width: 100%;
}
